* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    ;
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #3974B6, #8648AD);
}

.container {
    width: 25%;
    height: 333px;
    background: white;
    ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    ;

}

.content-box {
    padding: 50px;

    ;
}

.content-box input {
    padding: 20px 20px;
    margin-bottom: 10px;

    border: none;
    border-bottom: 2px solid rgb(196, 196, 196);
    ;
    background-color: white;

    width: 340px;
    font-size: 20px;
    display: block;
    color: black;

    ;
}

#login-btn {
    padding: 10px 0px;
    ;
    width: 380px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background-image: linear-gradient(120deg, #3974B6, #8648AD);
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    ;

}

#forget {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    display: block;
    margin: 10px;
    text-align: center;



    ;

}